// Colors
$color-green: #92B947;
$color-red: #CA413C;
$color-blue: #215395;
$color-grey: #656565;
$color-dark: #1E0000;

// Spacing
$spacing-sm: 5px;
$spacing-md: 20px;
$spacing-lg: 40px;

// Fonts
$topic-info-font-size: 20px;