@import '../../styles/variables';
@import '../../styles/base';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: $spacing-sm;

  * {
    font-weight: bold;
    color: $color-dark;
  }
}

.topic-cloud {
  position: relative;
  flex-grow: 1;
  border: 1px solid transparent;
  height: 100%;
}

.topic-label {
  position: absolute;
  border: 2px solid transparent;
  width: fit-content;

  &:hover {
    cursor: pointer;
  }
}