@import '../../styles/base';
@import '../../styles/variables';

:host {
  display: flex;
  justify-content: center;
  width: 25%;
}

.topic-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 200px;
  padding-left: $spacing-lg;

  * {
    font-size: $topic-info-font-size;
  }

  .topic-info-intro,
  .total-mentions {
    margin: 0;
    margin-bottom: $spacing-lg;
  }

  .sentiment {
    margin: 0;
  }
}